In [95]:
import pandas as pd

uri = "https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv"
dados = pd.read_csv(uri)
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [96]:
mapa = {
    'home' : 'principal',
    'how_it_works': 'como_funciona',
    'contact': 'contato',
    'bought': 'comprou'
}

dados = dados.rename(columns = mapa)
dados

    principal  como_funciona  contato  comprou
0           1              1        0        0
1           1              1        0        0
2           1              1        0        0
3           1              1        0        0
4           1              1        0        0
..        ...            ...      ...      ...
94          0              0        1        0
95          1              1        1        1
96          0              0        1        0
97          0              1        0        0
98          0              0        0        0

[99 rows x 4 columns]

In [97]:
x = dados[['principal', 'como_funciona', 'contato']]
x

    principal  como_funciona  contato
0           1              1        0
1           1              1        0
2           1              1        0
3           1              1        0
4           1              1        0
..        ...            ...      ...
94          0              0        1
95          1              1        1
96          0              0        1
97          0              1        0
98          0              0        0

[99 rows x 3 columns]

In [98]:
y = dados['comprou']
y

0     0
1     0
2     0
3     0
4     0
     ..
94    0
95    1
96    0
97    0
98    0
Name: comprou, Length: 99, dtype: int64

In [99]:
dados.shape

(99, 4)

In [105]:
treino_x = x[:75] # do 0 até o 74 -> total 75
treino_y = y[:75] # do 0 até o 74 -> total 75
teste_x = x[75:] # do 75 até o 99 -> 99-75 = 24
teste_y = y[75:] # do 75 até o 99 -> 99-75 = 24

print('Treinaremos com %a elementos e testaremos com %a elementos' % (len(treino_x), len(teste_x)))
treino_x

Treinaremos com 75 elementos e testaremos com 24 elementos

    principal  como_funciona  contato
0           1              1        0
1           1              1        0
2           1              1        0
3           1              1        0
4           1              1        0
..        ...            ...      ...
70          1              1        0
71          0              0        1
72          0              0        1
73          0              0        1
74          0              0        1

[75 rows x 3 columns]

In [106]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

modelo = LinearSVC() # cria instância do elemento
modelo.fit(treino_x, treino_y) # faz o modelo de adequar ao que temos para treinar

previsoes = modelo.predict(teste_x) # faz a previsao do elemento que queremos testar

taxa_de_acerto = accuracy_score(teste_y, previsoes) * 100

print('A taxa de acerto foi de %.2f%%' % taxa_de_acerto)

A taxa de acerto foi de 95.83%

In [109]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

SEED = 20

treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, random_state = SEED, test_size = 0.25) 
print('Treinaremos com %d elementos e testaremos com %d elementos' % (len(treino_x), len(teste_x)))

modelo = LinearSVC() 
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x) 

taxa_de_acerto = accuracy_score(teste_y, previsoes) * 100

print('A taxa de acerto foi de %.2f%%' % taxa_de_acerto)

Treinaremos com 74 elementos e testaremos com 25 elementos
A taxa de acerto foi de 96.00%

In [112]:
treino_y.value_counts()

0    47
1    27
Name: comprou, dtype: int64

In [113]:
teste_y.value_counts()

0    19
1     6
Name: comprou, dtype: int64

In [121]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

SEED = 20

treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, 
                                                        random_state = SEED,
                                                        test_size = 0.25, 
                                                        stratify = y) 
print('Treinaremos com %d elementos e testaremos com %d elementos' % (len(treino_x), len(teste_x)))

modelo = LinearSVC() 
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x) 

taxa_de_acerto = accuracy_score(teste_y, previsoes) * 100

print('A taxa de acerto foi de %.2f%%' % taxa_de_acerto)

Treinaremos com 74 elementos e testaremos com 25 elementos
A taxa de acerto foi de 96.00%

In [122]:
treino_y.value_counts()

0    49
1    25
Name: comprou, dtype: int64

In [123]:
teste_y.value_counts()

0    17
1     8
Name: comprou, dtype: int64