In [3]:
import pandas as pd

arquivo = pd.read_csv('acesso.csv')
arquivo.head()

   acessou_home  acessou_como_funciona  acessou_contato  comprou
0             1                      1                0        0
1             1                      1                0        0
2             1                      1                0        0
3             1                      1                0        0
4             1                      1                0        0

In [4]:
dados = arquivo[['acessou_home', 'acessou_como_funciona', 'acessou_contato']]
marcacoes = arquivo['comprou']

In [5]:
dados.head()

   acessou_home  acessou_como_funciona  acessou_contato
0             1                      1                0
1             1                      1                0
2             1                      1                0
3             1                      1                0
4             1                      1                0

In [6]:
marcacoes.head()

0    0
1    0
2    0
3    0
4    0
Name: comprou, dtype: int64

In [18]:
from sklearn.naive_bayes import MultinomialNB
modelo = MultinomialNB()
modelo.fit(dados, marcacoes)

MultinomialNB()

In [19]:
print(modelo.predict([[1,0,1]]))

[1]

C:\Users\mathe\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but MultinomialNB was fitted with feature names
  warnings.warn(

In [21]:
resultado = modelo.predict(dados)
print(resultado)

[0 0 0 0 0 1 0 1 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 1 0 1 1 1 1
 0 0 1 0 0 0 1 0 0 1 1 0 0 0 0 1 0 1 0 1 0 1 0 1 0 0 0 1 0 0 1 1 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 1 1 0 0 0 0 0 0 0 0]

In [22]:
print(marcacoes)

0     0
1     0
2     0
3     0
4     0
     ..
94    0
95    1
96    0
97    0
98    0
Name: comprou, Length: 99, dtype: int64

In [24]:
diferencas = resultado - marcacoes

acertos = [d for d in diferencas if d == 0]
total_de_acertos = len(acertos)
total_de_elementos = len(dados)

taxa_de_acerto = 100.0 * total_de_acertos / total_de_elementos

print(taxa_de_acerto)
print(total_de_elementos)

93.93939393939394
99

# With just 50% of data

In [28]:
treino_dados = dados[:90]
treino_marcacoes = marcacoes[:90]

teste_dados = dados[-9:]
teste_marcacoes = marcacoes[-9:]

len(teste_dados) 
len(teste_marcacoes)

resultado = modelo.predict(teste_dados)

diferencas = resultado - teste_marcacoes

acertos = [d for d in diferencas if d == 0]
total_de_acertos = len(acertos)
total_de_elementos = len(dados)

taxa_de_acerto = 100.0 * total_de_acertos / total_de_elementos

print(taxa_de_acerto)
print(total_de_elementos)

8.080808080808081
99